<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="Ignore assets" stopProcessing="true">
                    <match url="^assets/" />
                    <action type="None" />
                </rule>
                <rule name="Redirect all trafic to root" stopProcessing="true">
                    <match url="^$" negate="true"/>
                    <action type="Redirect" redirectType="Permanent" url="/" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
